html {
  background-color:black;
}

h2 {
  color:white;
  font-size: 50px;
  text-align: center;
  font-family: Verdana;
  font-weight: normal;
}

aside {
  color:white;
}

video {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

aside {
  font-size: 21px;
  text-align: center;
  font-family: Verdana;
  color: gray;
}

section {
  text-align: center;
}

.downloadlink {
  font-size: 16px;
  color: aquamarine;
}

#copyright {
  text-align: right;
  color: gray;
}
